*,html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
/* HEADER  */
.header-wrap{
    width: 50%;
    height: 50px;
}
.posit {
    width: 1300px;
    margin: 0 0px 0 30px;
}
.header-menu-burger {
    display: none;
    width: 32px;
    height: 32px;
    background: url(../img/Burger.png) no-repeat center;
}
.header-logo{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transform: translate(-50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-menu-link{
    display: block;
    padding: 13px 22px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-decoration: none;
    color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-action-bth {
    width: 80px;
    height: 36px;
    background-color: #0065F2;
    border: none;
    cursor: pointer;
}
.header-action-bth span{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #fff;
    padding: 15px 6px;
}
/* SECTION 1 */
.section1 {
    width: 1190px;
    height: 500px;
    margin: 0 0 0 160px;
}
.section1-left{
    width: 40%;
    position: relative;
}
.section1-left h4{
    width: 255px;
    height: 28px;
    display: block;
    position: absolute;
    top: 88px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section1-left h1{
    width: 445px;
    height: 120px;
    display: block;
    position: absolute;
    top: 132px;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
}
.section1-foto {
    width: 555px;
    height: 380px;
    background: url(../img/foto1.png);
    position: relative;
    top: 88px;
    
}
.section1-left-input {
    width: 321px;
    height: 48px;
    background: #09132110;
    background-blend-mode: multiply;
    border: none;
    position: absolute;
    top: 60%;
    padding-left: 15px;
}
.section1-left-action-bth {
    width: 124px;
    height: 48px;
    background-color: #0065F2;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 321px;
}
.section1-left-action-bth span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #fff;
    padding: 12px 37.5px;
}
.section1 p{
    display: block;
    width: 445px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    top: 75%;
}
/* SECTION 2 */
.section2 {
    width: 1340px;
    height: 368px;
    margin-left: 30px;
}
.section2 h5{
    display: block;
    width: 160px;
    height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    margin-top: 50px;
}
.section2 h2 {
    display: block;
    width: 900px;
    height: 48px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 12px;
}
.section2 p{
    display: block;
    width: 600px;
    height: 96px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 68px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* SECTION 3 */
.section3{
    width: 1190px;
    height: 450px;
    margin: 50px 0 0 150px;
}
.section3-foto{
    width: 555px;
    height: 380px;
    background: url(../img/foto2.png);
}
.section-3-container{
    width: 500px;
    height: 350px;
}
.section3-text1 {
    width: 470px;
}
.section3-text1 h4{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    display: block;
    margin-bottom: 16px;
}
.section3-text1 p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.section3-text1 a{
    text-decoration: none;
    color: blue;
}
.section3-block{
    width: 470px;
}
.section3-block-left img{
    margin-top: 40px;
}
.section3-block-left h4{
    display: block;
    width: 190px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-top: 16px;
}
.section3-block-left span{
    display: block;
    width: 220px;
    height: 60px;
    margin-top: 8px;
}
/* SECTION 4 */
.section4 {
    width: 1350px;
    height: 500px;
}
.section4-left{
    margin: 137px 0 0 165px;
}
.section4-left h4{
    display: block;
    width: 470px;
    height: 64px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    margin-bottom: 16px;
}
.section4-left span{
    display: block;
    width: 470px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.logos {
    width: 90%;
    margin-top: 50px;
}
.section4-foto {
    width: 555px;
    height: 380px;
    background: url(../img/phone.png);
    margin: 40px 0px 60px 0;
}
/* SECTION 5 */
.section5 {
    width: 1350px;
    height: 500px;
}
.section5-foto {
    width: 555px;
    height: 380px;
    background: url(../img/Browser.png);
    margin: 15px 0 60px 165px;
}
.section5-right {
    width: 475px;
    height: 256px;
    margin: 60px 0px 0 0;
}
.section5-right h4{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    margin-bottom: 16px;
}
.section5-right span {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-bottom: 16px;
}
.section5-right p{
    display: block;
    width: 413px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-left: 40px;
}
.section5-right p::after{
    content: '';
    display: block;
    width: 20px;
    height: 22px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    position: relative;
    left: -40px;
    top: -23px;
}
/* SECTION 6 */
.section6{
    width: 1400px;
    height: 500px;
    background: url(../img/Image.png);
}
/* SECTION 7 */
.section7{
    width: 1350px;
    height: 276px;
}
.section7-left {
    width: 350px;
    height: 156px;
    margin: 60px 0 60px 260px;
}
.section7-left h4{
    display: block;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 16px;
}
.section7-left span{
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    margin-bottom: 16px;
}
.section7-left a{
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    text-decoration: none;
    color: blue;
}
.section7-left a::after{
    content: '\003E';
    margin-left: 8.5px;
}
.line {
    height: 156px;
    width: 1px;
    background: rgba(155, 148, 148, 0.26);
    margin-top: 60px;
}
.right{
    margin: 60px 260px 60px 0;
}
/* FOOTER */
.footer {
    width: 1350px;
    height: 304px;
}
.footer-left{
    width: 285px;
    height: 180px;
    margin: 44px 0 88px 165px;
}
.footer-left span{
    width: 285px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #D8D8D8;
    display: block;
    margin-top: 26px;
}
.footer-input {
    width: 210px;
    height: 48px;
    background: #09132110;
    background-blend-mode: multiply;
    border: none;
    margin-top: 28px;
    padding: 12px 0px 12px 13px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;   
}
.footer-button {
    width: 48px;
    height: 148px;
    padding: 23px;
    position: relative;
    left: 210px;
    top: -46px;
    border: none;
    background-image: url(../img/telegram.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.footer-centr {
    width: 240px;
    height: 141px;
    margin: 80px 0 83px 0;
}
.footer-wrap {
    width: 240px;
    height: 141px;
    columns: 2;
}
.footer-wrap li{
    margin-bottom: 15px;
}
.footer-wrap li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: black;
    font-weight: 700;
}
.footer-right {
    width: 91px;
    height: 96px;
    margin: 80px 234px 128px 0;
}
/* COPYRIGHT  */
.copy {
    width: 1350px;
    height: 60px;
}
.copy-left {
    width: 215px;
    height: 20px;
    margin: 0 0 20px 165px;
}
.span-copy{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #9b979777;
}
.copy-right {
    margin: 0 165px 20px 0;
}
.right-left {
    padding: 0 50px;
}

/* 1024 */
@media screen and (max-width: 1024px) {
    .section1 {
        margin: 0 0 0 80px;
    }
    .section2 {
        margin-left: 0px;
    }
    .section3{
        margin: 50px 0 0 50px;
    }
    .section4-left{
        margin: 137px 0 0 80px;
    }
    .section4-foto {
        margin: 40px 80px 60px 0;
    }
    .section5-foto {
        margin: 15px 0 60px 65px;
    }
    .section5-right {
        margin: 60px 150px 0 0;
    }
    .footer-left{
        margin: 44px 0 88px 85px;
    }
    .copy-left {
        margin: 0 0 20px 85px;
    }
}

/* 600  */
@media screen and (max-width: 335px) {
    header {
        padding: 10px;
    }
    .header-menu ul{
        display: none;
    }
    .header-menu-burger {
        display: block;
    }
    .header-action-bth {
        width: 32px;
        height: 32px;
        background: url(../img/Favorite.png) no-repeat center; 
    }
    .header-action-bth span{
        display: none;
    }
    /* .section1 {
        display: flex;
        flex-direction: column-reverse;
    } */

}